###########################################################################
#                            TextMate Snippets                            #
###########################################################################
snippet use "node module"
"use strict";
module.exports = function (${1:argument}) {
	${VISUAL}$0
}
endsnippet
